<ul nz-menu nzMode="horizontal">
  <li nz-menu-item [nzMatchRouterExact]	="true">
    <a [routerLink]="['/']" >Photos</a>
  </li>
  <li nz-menu-item  [nzMatchRouterExact]	="true">
    <a routerLink="/Check list" >Done or Undone Tasks</a>
  </li>
  <li  nz-menu-item [nzMatchRouterExact]	="true">
    <a routerLink="/Todo list" >Todo list</a>
  </li>
  <li nz-menu-item [nzMatchRouterExact]	="true">
    <a [routerLink]="['/Weather']"  >Weather</a>
  </li>
  <li  nz-menu-item [nzMatchRouterExact]	="true">
    <a routerLink="/Form">Form</a>
  </li>
</ul>
